In [1]:
import pymysql as py
import pandas as pd 
import sql, data

In [4]:
conn = py.connect(database = "gap_minder", user = "root", password = "camarena")
cursor = conn.cursor()

In [5]:
data = pd.read_csv("C:\\Users\\34609\\Documents\\Repos Git\\GapMinder_Python\\Processed_data\\merged_data.csv")
data

,country,year,population density,urban growth,population,population_growth,co2_emissions,life_expectancy
0,Afghanistan,1960,13.80,0.0516,9000000.0,0.01830,0.046,39.3
1,Albania,1960,59.70,0.0539,1640000.0,0.03020,1.240,62.2
2,Algeria,1960,4.64,0.0553,11100000.0,0.02520,0.557,52.5
3,Angola,1960,4.38,0.0453,5450000.0,0.01370,0.101,40.6
4,Antigua and Barbuda,1960,123.00,0.0338,54100.0,0.01690,0.677,63.3
...,...,...,...,...,...,...,...,...
10550,Venezuela,2018,32.70,-0.0176,28900000.0,-0.01790,4.810,75.2
10551,Vietnam,2018,308.00,0.0298,95500000.0,0.00993,2.160,74.6
10552,Yemen,2018,54.00,0.0408,28500000.0,0.02360,0.356,68.1
10553,Zambia,2018,23.30,0.0417,17400000.0,0.02910,0.302,63.7
10554,Zimbabwe,2018,37.30,0.0132,14400000.0,0.01410,0.850,61.7

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10555 entries, 0 to 10554
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             10555 non-null  object
 1   year                10555 non-null  int64
 2   population density  10555 non-null  float64
 3   urban growth        10555 non-null  float64
 4   population          10555 non-null  float64
 5   population_growth   10555 non-null  float64
 6   co2_emissions       10555 non-null  float64
 7   life_expectancy     10555 non-null  float64
dtypes: float64(6), int64(1), object(1)
memory usage: 659.8+ KB

In [9]:
columns = ["country", "year", "population density", "urban growth", "population", "population_growth", "co2_emissions", "life_expectancy"]
null = ["NOT NULL", "NOT NULL", "NOT NULL", "NOT NULL", "NOT NULL", "NOT NULL", "NOT NULL", "NOT NULL"]
types = ["VARCHAR", "INT", "FLOAT", "FLOAT", "FLOAT", "FLOAT", "FLOAT", "FLOAT"]
primary_key = [columns[0], columns[1]]

In [28]:
primary_key[1]

'year'

In [38]:
name = "a"
le = len(primary_key)
query = "DROP TABLE IF EXISTS " + name + " CREATE TABLE " + name + " ("
for i in range(data.shape[1]):
    query += str(columns[i] + " " + types[i] + " " + null[i]) + ", "
if len(primary_key) >= 1:
    query += " PRIMARY KEY "
    for j in range(le):
        query += str(primary_key[j]) + ", "
query = query[:-2] + ");"

In [39]:
query

'DROP TABLE IF EXISTS a CREATE TABLE a (country VARCHAR NOT NULL, year INT NOT NULL, population density FLOAT NOT NULL, urban growth FLOAT NOT NULL, population FLOAT NOT NULL, population_growth FLOAT NOT NULL, co2_emissions FLOAT NOT NULL, life_expectancy FLOAT NOT NULL,  PRIMARY KEY country, year);'