## STEP 1: sql_connection.ipynb + db.py
With this jupyter notebook combined with the *db.py* script we will be able to:

        1. Access to the rawdata files.
        2. Transform the rawdata into dataframes with an appropiate structure that allows us to work with Machine Learning models.
        3. Gerenate new .csv files with the re-structured data.
        4. Extract from the dataframes, the necessary information to build from scratch a SQL DB to store our data.
        5. Establish a connection with mySQL, to import the data of each of the dataframes directly in our DB.

In [1]:
import pandas as pd
import numpy as np
import datetime
import db

In [2]:
population_density = db.file2df(file_ = "population_density.csv")
population_density

,country,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,11.90,12.00,12.20,12.30,12.50,12.70,12.90,13.10,13.30,...,117.0,117.0,117.0,117.0,116.0,116.0,116.0,115.0,115.0,115.0
1,Albania,46.10,47.00,48.00,49.20,50.50,51.80,53.30,54.80,56.30,...,48.5,47.5,46.5,45.5,44.5,43.5,42.5,41.6,40.6,39.7
2,Algeria,3.73,3.79,3.86,3.93,4.01,4.10,4.20,4.31,4.41,...,29.6,29.6,29.6,29.6,29.7,29.7,29.7,29.7,29.7,29.7
3,Andorra,13.20,14.20,15.40,16.70,18.20,19.60,21.20,22.90,24.70,...,134.0,134.0,134.0,134.0,133.0,133.0,133.0,133.0,133.0,133.0
4,Angola,3.65,3.70,3.78,3.87,3.96,4.05,4.12,4.19,4.26,...,135.0,136.0,138.0,140.0,142.0,144.0,146.0,147.0,149.0,151.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,6.22,6.49,6.77,7.06,7.35,7.65,7.95,8.26,8.58,...,40.2,40.1,39.9,39.8,39.6,39.5,39.3,39.2,39.0,38.8
191,Vietnam,80.00,81.80,83.80,85.90,88.30,90.80,93.40,96.20,99.20,...,324.0,323.0,322.0,321.0,320.0,319.0,317.0,316.0,315.0,314.0
192,Yemen,8.83,8.93,9.05,9.16,9.28,9.41,9.53,9.66,9.79,...,103.0,103.0,103.0,103.0,102.0,102.0,102.0,101.0,101.0,101.0
193,Zambia,3.11,3.19,3.27,3.36,3.46,3.56,3.66,3.77,3.89,...,100.0,101.0,102.0,103.0,104.0,106.0,107.0,108.0,109.0,110.0
194,Zimbabwe,7.10,7.32,7.55,7.80,8.05,8.31,8.58,8.85,9.14,...,79.7,79.7,79.8,79.9,79.9,80.0,80.0,80.0,80.0,80.0